.banner {
    font-family: "barlow";
    font-style: italic;
    width: 100%;
    height: 34dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: rgb(0, 0, 0);
    position: relative;
    overflow: hidden;
    z-index: 4;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.); /* Aquí está la magia */
}

.banner__content {
    z-index: 6;
    font-size: 2rem;
    font-weight: bold;
}

.carousel {
    position: absolute;
    width: 100%;
    height: 100%;
}

.carousel__item {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.2s;
}

.carousel__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 40%; /* 50% para el centro en el eje X, y 10% para mover la imagen hacia arriba */
    position: absolute;
    top: 0;
    left: 0;
}

.banner__content {
    position: relative;
    z-index: 6;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea todo al inicio (izquierda) */
    gap: 0.5rem; /* Espacio entre h1 y h2 */
}

.banner__title {
    font-size: 4.6rem;
    margin: 0;
}

.banner__subtitle {
    font-size: 1.5rem;
    margin: auto;
    color: #89a746;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);;
}

@media (max-width: 768px) {
    .banner__title {
        font-size: 2rem; /* o ajusta a lo que prefieras */
    }

    .banner__subtitle {
        font-size: 1rem;
    }
}