@font-face {
    font-family: "barlow";
    src: url(FONTS/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf) format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "barlow";
    src: url(FONTS/Barlow_Semi_Condensed/BarlowSemiCondensed-Black.ttf) format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "barlow";
    src: url(FONTS/Barlow_Semi_Condensed/BarlowSemiCondensed-ExtraBold.ttf) format("truetype");
    font-weight: 900;
}
@font-face {
    font-family: "barlow";
    src: url(FONTS/Barlow_Semi_Condensed/BarlowSemiCondensed-Bold.ttf) format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "barlow";
    src: url(FONTS/Barlow_Semi_Condensed/BarlowSemiCondensed-Italic.ttf) format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "barlowfina";
    src: url(FONTS/Barlow/Barlow-BoldItalic.ttf) format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "bebas";
    src: url(FONTS/Bebas_Neue/BebasNeue-Regular.ttf) format("truetype");
}